<h2><%= @article.title %></h2>
<p><%= @article.content %></p>

<br>
  <%= link_to "Modifier", edit_article_path(@article) %>
<br>
  <%= link_to "Supprimer", article_path(@article),
      data: {turbo_method: "delete", turbo_confirm: "Etes vous sur?"}
  %>
<br>
<%= link_to "Retour à la liste", articles_path%>
